body ,html{
    height:100%;
}
#add {
    background:rgba(87,87,87,0.3);
    cursor:pointer;
}
#add a {
    display:block;
    float:right;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    font-weight:700;
    cursor:pointer;
}
    #add a:hover {
    background:rgb(255,255,255);
    }
#main {
    height:100%;
    width:100%;
    z-index:1;
}
#menuWrapper {
    z-index:2;
}
#mousePos {
    position:absolute;
    font-size:7px;
    border:1px solid rgba(87,87,87,0.3);
    width:34px;
    z-index:9999;
    color:black;
    padding:2px;
}
.leftgrid {
    position:absolute;
    left:420px;
    top:0px;
    background:#00CCFF;
    z-index:9999;
    width:1px; 
    height:100%;
    
}

.topgrid {
    position:absolute;
    left:0px;
    top:40px;
    
    z-index:9999;
    border-top:1px solid #00CCFF;
    height:0px;
    width:100%;
}
input{
width:30px;
}
.bordered{
border:1px solid black;
}
#menuItems{
background:rgba(87,87,87,0.3);
width:167px;
float:left;
}
#curDiv
{
background:rgba(87,87,87,0.3);
clear:both;
}
li{
list-style:none;
}

.menuadd{
background-color:rgb(255, 255, 255);
float:left;
margin:1px;
margin-bottom:2px;
width:20px;
height:20px;
cursor:pointer;
}
#html {
    position:absolute;
    top:20px;
    left:30px;
width:100%;
height:100%;
z-index:50000;
}
#addCircle,#addCircleE{
border-radius:50%;
}
#addPlgm,#addPlgmE{
	transform: skew(20deg); 
     
}
#addRectE,#addCircleE,#addPlgmE{
	border:1px solid black;
}
#addTri1 {
    background: linear-gradient(to right bottom, white 50%, transparent 50%);
}
#addTri2 {
    background: linear-gradient(to left bottom, white 50%, transparent 50%);
}
#addTri3 {
    background: linear-gradient(to right top, white 50%, transparent 50%);
}
#addTri4 {
    background: linear-gradient(to left top, white 50%, transparent 50%);
}
@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
